
{% extends 'company/base.html' %}

{% block title %}สวัสดีจ้า ยินต้อนรับ สู่เว็บของเรา จ้าาาา{% endblock title %}
{% load static %}

{% block content %}
  
{% if user.profile.usertype == 'vip' %}
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">โปรโมชั่นราคาพิเศษ สำหรับ VIP Member เท่านั้น</h1>
    <p class="fs-5 text-muted">ตอนนี้ iphone มาใหม่ หากซื้อวันนี้จะได้รับส่วนลดทัน 50%</p>
  </div>
{% elif user.profile.usertype == 'vvip' %}
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">โปรโมชั่นราคาพิเศษ สำหรับ VVIP Member เท่านั้น</h1>
    <p class="fs-5 text-muted">ตอนนี้ iphone มาใหม่ หากซื้อวันนี้จะได้รับส่วนลดทัน 70%</p>
  </div>
{% elif user.profile.usertype == 'member' %}
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">โปรโมชั่นราคาพิเศษ สำหรับ Member เท่านั้น</h1>
    <p class="fs-5 text-muted">ตอนนี้ iphone มาใหม่ หากซื้อวันนี้จะได้รับส่วนลดทัน 40%</p>
  </div>
{% else %}
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">โปรโมชั่นราคาพิเศษ</h1>
    <p class="fs-5 text-muted">ตอนนี้ iphone มาใหม่ หากซื้อวันนี้จะได้รับส่วนลดทัน 20%</p>
  </div>
{% endif %}


  <img src="{% static 'IMG/iphone.png' %}">

{% for pd in allproduct %}

  <h2>{{pd.title}}</h2>
  {% if pd.picture %}
    <img src="{{pd.picture.url}}" width="300px">
  {% endif %}
  <p>
    <b>รายละเอียด:</b> {{pd.description}}<br>
    {% if pd.relatedFile %}
      Download Spec: <a href="{{pd.relatedFile.url}}">ดาวโหลด</a>
    {% endif %}
    <br>
    <b>ราคา:</b> {{pd.price}}<br>
    <b>เหลือใน stock:</b> {{pd.quantity}} <br>
    <hr>
  </p>

{% endfor %}

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">iPhone 13 Pro Max</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">9,900<small class="text-muted fw-light"> บาท</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">สั่งซื้อ</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">iPhone 13 Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">8,000<small class="text-muted fw-light"> บาท</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">สั่งซื้อ</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">iPhone 13</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">7,500<small class="text-muted fw-light"> บาท</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">สั่งซื้อ</button>
          </div>
        </div>
      </div>
    </div>



  
    {% endblock content %}