
{% extends 'company/base.html' %}

{% block title %} เข้าสู่ระบบ {% endblock title %}

{% block content %}

<center>
    <h1>สมัครสมาชิก</h1>
</center>

{% if warning %}
    <div class="alert alert-warning" role="alert">
        <p>{{warning}}</p>
    </div>
{% endif %}


{% if message %}

    <h2>{{ message }}</h2>

{% else %}
    <form method="POST">
        {% csrf_token %}

        {% if fullname %}
        <div class="form-group mb-2">
            <label for="fullname">ชื่อ-สกุล</label>
            <input type="text" class="form-control" id="fullname" name="fullname" value="{{fullname}}" required>
        </div>
        {% else %}
        <div class="form-group mb-2">
            <label for="fullname">ชื่อ-สกุล</label>
            <input type="text" class="form-control" id="fullname" name="fullname" required>
        </div>
        {% endif %}
        <div class="form-group mb-2">
            <label for="tel">หมายเลขโทรศัพท์</label>
            <input type="text" class="form-control" id="tel" name="tel" required>
        </div>

        <div class="form-group mb-2">
            <label for="username">Email</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        
        <div class="form-group mb-2">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <div class="form-group mb-2">
            <label for="password2">Password (again)</label>
            <input type="password" class="form-control" id="password2" name="password2" required>
        </div>

        <button type="submit" class="btn btn-primary">ลงทะเบียน</button>
    </form>

{% endif %}



{% endblock content %}