
{% extends 'company/base.html' %}

{% block title %} Reset Password {% endblock title %}

{% block content %}

<center>
    <h1>Reset Password</h1>
</center>

{% if message %}

    <h2>{{ message }}</h2>

{% else %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-group mb-3 w-50">
            <label for="username">Email</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>

        <button type="submit" class="btn btn-primary mb-5">Reset Password</button>
        
    </form>

{% endif %}



{% endblock content %}